.footer{
    min-height: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.footer-text{
    margin-left: 100px;

    a {
        text-decoration: none;
        color:  #8491A0;
    }
}

.social{
    margin-right: 100px;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;

    img{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 850px) {
    .social{
        margin-right: unset;
    }

    .footer{
        min-height: 120px;
        flex-direction: column-reverse;
        justify-content: space-around;

        a {
            text-decoration: none;
        }
    }

    .footer-text{
        margin-left: unset;
    }
}