<div class="about-me" id="about">
    <div data-aos="zoom-in" class="about">
        <div class="img-picture"> <img class="img-picture" src="assets\imgs\Aufnahme.jpg"> </div>
        <div data-aos="zoom-in" class="about-text">
            <h3>Über mich</h3>
            <p>Ich bin Full-Stack Developer, <br> nach meiner Projekterfahrung in den ersten Softwareprojekten und meinem ersten Job als Frontend Developer, nun bereit für eine neue Herausforderung.
            </p>
        </div>
    </div>
    <div class="line"></div>

    <div class="journey">
        <div data-aos="zoom-in" class="img-text">
            <div class="img-journey">
                <img src="assets\icons\walk-line.png">
            </div>
            <h3> Berufssituation</h3>
            <p> Aktuell bin ich in meinem ersten Job als Frontend Developer tätig. Hier entwickel ich im Frontend Bereich unter anderem Shops mit Shopware, oder Content Management Systeme mit Drupal.
        </div>
        <div data-aos="zoom-in" class="img-text2">
            <div class="img-journey">
                <img src="assets\icons\heart-line.png">
            </div>
            <h3>Leidenschaft</h3>
            <p> In meiner Freizeit habe ich die ersten Zeilen Code mit C# in Unity geschrieben und ein kleines Spiel programmiert. Ab da an hat mich die Programmierung gefesselt und ich beschloss eine professionelle Weiterbildung zu absolvieren.
            </p>
        </div>
        <div data-aos="zoom-in" class="img-text">
            <div class="img-journey">
                <img src="assets\icons\search-line.png">
            </div>
            <h3>Orientierung</h3>
            <p> Auf der Suche nach einer für mich geeigneten Weiterbildung bin ich auf die Developer Akademie gestoßen. Hier wurde ich erfolgreich zum Full-Stack Developer ausgebildet und für meinen weiteren Werdegang vorbereitet.
            </p>
        </div>
        <div data-aos="zoom-in" class="img-text">
            <div class="img-journey">
                <img src="assets\icons\flight-takeoff-line.png">
            </div>
            <h3>Berufseinstieg</h3>
            <p> Nun, nach meinem erfolgreichen Abschluss und dem Einstieg als Frontend Developer, suche ich jetzt eine Stelle als Full-Stack Developer, um alle Fassetten der Programmierung mitzugestalten.
            </p>
        </div>
    </div>
</div>