.about-me {
    min-height: 100vh;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #131111;
}

.about {
    padding: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #131111;
}

.img-picture {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.about-text {
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
    line-height: 150%;
}

.line {
    min-width: 100%;
    height: 0px;
    border: 1px solid #2dfcd8;
}

.journey {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-text {
    width: 250px;
    height: 350px;
    margin: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-text2 {
    width: 250px;
    height: 350px;
    margin: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-journey {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #2dfcd8;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 1200px) {
    .about {
        flex-direction: column;
        padding: unset;
    }

    .about-me{
        padding-left: unset;
        padding-right: unset;
    }

    .img-picture {
        width: 200px;
        height: 200px;
    }


    .journey{
        flex-direction: column;
        padding-left: unset;
        padding-right: unset;
    }

    .img-text{
        margin: unset;
        margin-top: 20px;
        margin-bottom: unset;
    }

    .img-text2 {
        height: 230px;
    }
}
