<div class="about-me" id="about">
    <div class="about">
        <div class="img-picture"> <img class="img-picture" src="assets\imgs\Aufnahme.jpg"> </div>
        <div class="about-text">
            <h3>Über mich</h3>
            <p>Ich bin ein zukünftiger Junior-Frontend-Developer <br>
                und habe meine Leidenschaft in der Web- & Softwareentwicklung entdeckt.
            </p>
        </div>
    </div>
    <div class="line"></div>

    <div class="journey">
        <div class="img-text">
            <div class="img-journey">
                <img src="assets\icons\walk-line.png">
            </div>
            <h3> Berufssituation</h3>
            <p> Aktuell bin ich als staatlich geprüfter Heizungs-, Lüftungs- und Klimatechniker tätig.
                Hier entwickle ich Warenpräsentationen für die Bereitstellung von kalten und warmen Speisen,
                zur Selbstbedienung und bargeldlosen Abwicklung.
            </p>
        </div>
        <div class="img-text" style="height: 260px;">
            <div class="img-journey">
                <img src="assets\icons\heart-line.png">
            </div>
            <h3>Leidenschaft</h3>
            <p> In meiner Freizeit habe ich die ersten Zeilen Code geschrieben und seit da
                an hat es mich nicht mehr los gelassen.
            </p>
        </div>
        <div class="img-text">
            <div class="img-journey">
                <img src="assets\icons\search-line.png">
            </div>
            <h3>Orientierung</h3>
            <p> Auf der Suche nach einer für mich geeigneten Weitebildung bin ich auf
                die Developer Akademie gestoßen. Hier werde ich zum Frontend Developer ausgebildet
                und für den Berufseinstieg vorbereitet.
            </p>
        </div>
        <div class="img-text">
            <div class="img-journey">
                <img src="assets\icons\flight-takeoff-line.png">
            </div>
            <h3>Berufseinstieg</h3>
            <p> Nach meiner erfolgreich abgeschlossen Weiterbildung
                möchte ich dann einen Berufseinstieg als Frontend Developer starten.
            </p>
        </div>
    </div>
</div>