<div class="about-me">
    <div class="about">
        <div class="img-picture"> <img class="img-picture" src="assets\imgs\Aufnahme.jpg"> </div>
        <div class="about-text">
            <h3>Über mich</h3>
            <p>Ich bin staatlich geprüfter Techniker in der Versorgungstechnik <br>
                und habe meine Leidenschaft in der Web- & Softwareentwicklung entdeckt.
            </p>
        </div>
    </div>
    <div class="line"></div>

    <div class="journey">
        <div class="img-text">
            <div class="img-journey">
                <img src="assets\icons\walk-line.png">
            </div>
            <h5>MY JOURNEY BEGAN</h5>
            <p> as a product manager in an industrial company. Early on,
                I got the chance to
                collaborate in multiple IT and digitalization projects.</p>
        </div>
        <div class="img-text">
            <div class="img-journey">
                <img src="assets\icons\heart-line.png">
            </div>
            <h5>MY JOURNEY BEGAN</h5>
            <p> as a product manager in an industrial company. Early on,
                I got the chance to
                collaborate in multiple IT and digitalization projects.</p>
        </div>
        <div class="img-text">
            <div class="img-journey">
                <img src="assets\icons\search-line.png">
            </div>
            <h5>MY JOURNEY BEGAN</h5>
            <p> as a product manager in an industrial company. Early on,
                I got the chance to
                collaborate in multiple IT and digitalization projects.</p>
        </div>
        <div class="img-text">
            <div class="img-journey">
                <img src="assets\icons\flight-takeoff-line.png">
            </div>
            <h5>MY JOURNEY BEGAN</h5>
            <p> as a product manager in an industrial company. Early on,
                I got the chance to
                collaborate in multiple IT and digitalization projects.</p>
        </div>
    </div>
</div>