<div class="contact-me" id="contact">
    <h2 data-aos="zoom-in-up"> Kontakt</h2>
    <div data-aos="zoom-in-up">
        <p style="color: white;">Wenn Sie mich kontaktieren möchten, können Sie mich über das untenstehende Formular, oder per E-Mail an
            <a style="color:#2EFCD8;" href="mailto:f.schroeder.1988@web.de">f.schroeder.1988@web.de</a> erreichen.
        </p>
    </div>

    <form action="http://florian-schroeder.developerakademie.net/PHP/send_mail.php" method="POST">
        <div data-aos="zoom-in-up">
            <p class="contact-text">Name</p>
            <input class="input-container" name="name" placeholder="Dein Name" required>
        </div>
        <div data-aos="zoom-in-up">
            <p class="contact-text">E-Mail-Adresse</p>
            <input type="email" placeholder="E-Mail-Adresse" required class="input-container">
        </div>
        <div data-aos="zoom-in-up">
            <p class="contact-text">Nachricht</p>
            <textarea class="textarea-container" name="message" placeholder="Deine Nachricht an mich" required></textarea>
        </div>

        <div data-aos="zoom-in-up" class="button-container">
            <button class="button-send" type="submit">Senden</button>
        </div>


    </form>


</div>