<div class="contact-me" id="contact">
    <h2 style="color:#2EFCD8 ; font-size:35px ;"> Kontakt</h2>
    <div>
        <p style="color: white;">Kontaktieren Sie mich über das untenstehende Formular, oder per E-Mail an
            <a style="color:#2EFCD8;" href="mailto:f.schroeder.1988@web.de">f.schroeder.1988@web.de</a> .
        </p>
    </div>

    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <div>
            <p class="contact-text">Name</p>
            <input type="text" placeholder="Dein Name" class="input-container" id="name" required
                [(ngModel)]="contact.name" name="name">
        </div>
        <div>
            <p class="contact-text">E-Mail-Adresse</p>
            <input type="email" placeholder="E-Mail-Adresse" required [(ngModel)]="contact.email"
                class="input-container" name="email" #email="ngModel">
        </div>
        <div>
            <p class="contact-text">Nachricht</p>
            <textarea name="message" placeholder="Deine Nachricht an mich" required [(ngModel)]="contact.message"
                #message="ngModel" class="textarea-container"></textarea>
        </div>

        <div class="button-container">
            <button type="submit" class="button-send" [disabled]="!contactForm.form.valid">Senden</button>
        </div>


    </form>


</div>