<div class="contact-me">
    <h2 style="color:#2EFCD8 ; font-size:35px ;"> Kontakt</h2>
    <div>
        <p style="color: white;">Kontaktieren Sie mich über das untenstehende Formular, oder per E-Mail an
            <a style="color:#2EFCD8;" href="mailto:f.schroeder.1988@web.de">f.schroeder.1988@web.de</a> .
        </p>
    </div>

    <form action="">
        <div>
            <p class="contact-text">Name</p>
            <input class="input-container" placeholder="Dein Name">
        </div>
        <div>
            <p class="contact-text">E-Mail-Adresse</p>
            <input class="input-container" placeholder="E-Mail-Adresse">
        </div>
        <div>
            <p class="contact-text">Nachricht</p>
            <textarea class="textarea-container" placeholder="Deine Nachricht an mich"></textarea> 
        </div>

        <div class="button-container"> <button type="submit" class="button-send">Senden</button>  </div>
        
        
    </form>


</div>