<div class="skills" id="skills">
    <h3 class="skill-headline">Fertigkeiten</h3>
    <div class="skills-container">

        <div data-aos="flip-down" class="container-2">
            <div class="icons">
                <div class="icon"> <img src="assets\icons\java script.png"> </div>
                <div class="iconangular"> <img src="assets\icons\angular.png" > </div>
                <div class="icon"> <img src="assets\icons\Group 205.png"> </div>
            </div>
            <div class="container-2-3">
                <div class="container-3">
                    <p>JavaScript</p>
                </div>

                <div class="container-3">
                    <p>Angular</p>
                </div>
                <div class="container-3">
                    <p>HTML / CSS</p>
                </div>
            </div>
        </div>

        <div data-aos="flip-down" class="container-2">
            <div class="icons">
                <div class="icon"> <img src="assets\icons\Group 226.png"> </div>
                <div class="icon"> <img src="assets\icons\Git.png"> </div>
                <div class="icon"> <img src="assets\icons\Group 20.png"> </div>
            </div>
            <div class="container-2-3">
                <div class="container-3">
                    <p>SCRUM</p>
                </div>
                <div class="container-3">
                    <p>Git</p>
                </div>
                <div class="container-3">
                    <p>Design</p>
                </div>
            </div>
        </div>

        <div data-aos="flip-down" class="container-2">
            <div class="icons">
                <div class="icon"> <img src="assets\icons\api.png"> </div>
                <div class="icon"> <img src="assets\icons\test.png"> </div>
                <div class="icon"> <img src="assets\icons\database.png"> </div>
            </div>
            <div class="container-2-3">
                <div class="container-3">
                    <p>Rest API</p>
                </div>
                <div class="container-3">
                    <p>Testing</p>
                </div>
                <div class="container-3">
                    <p>Datenbanken</p>
                </div>
            </div>
        </div>

    </div>

</div>