<div class="mywork" id="projects">
    <h3 class="mywork-headline">Meine Projekte</h3>
    <div class="overview">
        <div class="programming-language">
            <p>Alle</p>
        </div>
        <div class="programming-language" style="background-color:#fa2759 ;">
            <p>Angular</p>
        </div>
        <div class="programming-language">
            <p>JavaScript</p>
        </div>
    </div>

    <div class="overview-projects">
        <div class="overview-container">
            <div class="project-img"> <img src="assets\imgs\desk.jpg" > </div>
            <div class="project-img"> <img src="assets\imgs\desk.jpg" > </div>
        </div>

        <div class="overview-container">
            <div class="project-img"> <img src="assets\imgs\desk.jpg" > </div>
            <div class="project-img"> <img src="assets\imgs\desk.jpg" > </div>
        </div>
    </div>

</div>