<div class="mywork" id="projects">
    <h3 class="mywork-headline">Meine ersten Projekte</h3>
    <div class="overview">
        <div class="programming-language">
            <p>Alle</p>
        </div>
        <div class="programming-language" style="background-color:#fa2759 ;">
            <p>Angular</p>
        </div>
        <div class="programming-language">
            <p>JavaScript</p>
        </div>
    </div>

    <div class="overview-projects">
        <div class="overview-container">
            <div id="project-img">
                <div id="project-text">
                    <p>Webseite Sakura Ramen</p>
                </div>
                <div id="link">
                <a href="http://f0144369@florian-schroeder.developerakademie.net/Modul%203/Website_Sakura_Ramen.html">
                        <img src="assets\imgs\Sakura.PNG"></a>
                </div>
            </div>

            <div id="project-img">
                <div id="project-text">
                    <p>Pokedex mit API</p>
                </div>
                <div id="link">
                <a href="http://f0144369@florian-schroeder.developerakademie.net/Modul%209/Pokedex/Pokedex.html"><img
                        src="assets\imgs\Pokedex.PNG"></a>
            </div>
        </div>
    </div>

    <div class="overview-container">
        <div id="project-img">
            <div id="project-text">
                <p>QuizApp</p>
            </div>
            <div id="link">
            <a href="http://f0144369@florian-schroeder.developerakademie.net/Modul%207/QuizApp/QuizAppStart.html"><img
                    src="assets\imgs\QuizApp.PNG"></a>
        </div>
    </div>
    <div id="project-img">
        <div id="project-text">
            <p>Portfolio</p>
        </div>
        <div id="link">
        <a href="http://f0144369@florian-schroeder.developerakademie.net/Modul%207/QuizApp/QuizAppStart.html"><img
                src="assets\imgs\Portfolio.PNG"></a>
    </div>
</div>
</div>

<div class="overview-container">
    <div id="project-img">
        <div id="project-text">
            <p>Ring of Fire</p>
        </div>
        <div id="link">
        <a href="http://ring-of-fire-df70c.web.app/"> <img src="assets\imgs\RingofFire.PNG"></a>
    </div>
</div>
<div id="project-img">
    <div id="project-text">
        <p>El Pollo Loco (in Bearbeitung)</p>
    </div>
    <div id="link">
        <a href="#"><img src="assets\imgs\Elpolloloco.PNG"></a>
    </div>
</div>
</div>
</div>

</div>