body {
    margin: 0px;
    font-family: 'Libre Baskerville', serif;
    background-color:black;
}

html {
    scroll-behavior: smooth;
  }

  @media (max-width: 720px) {
  body {
    min-width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  
}